* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: Georgia, Cambria, Times, "Times New Roman";
     background: white;
}

.contenedor {
    width: 100%;
    overflow: hidden;
}

.slider-contenedor {
    width: 100%;
    display: flex;
}

.contenido-slider {
    width: 100%;
    height: 600px;
    display: flex;
    background: #B4B3B5;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;

}

.contenido-slider:nth-child(2){
    background: #565555;
    color:white;
}

.contenido-slider:nth-child(3){
    background: #3A3B3B;
    color:white;
}

.contenido-slider:nth-child(4){
    background: black;
    color:white;
}

.contenido-slider > img {
    width: 400px;
}

.contenido-slider > div {
    width: 40%;
}

.contenido-slider h1 {
    font-size: 3em;
    font-weight: 300;
    text-align:justify;
    line-height: 70px;
}

.contenido-slider h2 {
    font-weight: 300;
    text-align:justify;
    line-height: 30px;
}

.contenido-slider a {
    font-size: 1em;
    letter-spacing: 0.5px;
    color: white;
    background: black;
    width: 120px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none; 
}

.contenido-slider:nth-child(4) a{
    background: white;
    color: black;
}

/*Disp. móviles*/
@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 250px;
    }
    .contenido-slider > div{
        width: 40%;
    }
    .contenido-slider h2{
        font-size: 23px;
    }
}

@media screen and (max-width:600px){
    .contenido-slider{
        flex-direction: column-reverse;
    }
    .contenido-slider > div{
        width: 80%;
    }
}

